@import "~@angular/material/theming";
@include mat-core();

$talgo-primary: mat-palette($mat-blue-grey);
$talgo-accent: mat-palette($mat-gray, A200, A100, A400);
$talgo-warn: mat-palette($mat-deep-orange);

$talgo-theme: mat-light-theme($talgo-primary, $talgo-accent, $talgo-warn);
@include angular-material-theme($talgo-theme);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;

  ng-component {
    display: block;
  }
}
