@import "~@angular/material/theming";
@include mat-core();

$talgo-primary: mat-palette($mat-blue-gray, 900);
$talgo-accent: mat-palette($mat-gray, A200, A100, A400);
$talgo-warn: mat-palette($mat-deep-orange);

$talgo-theme: mat-light-theme($talgo-primary, $talgo-accent, $talgo-warn);
@include angular-material-theme($talgo-theme);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;

  ng-component {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

.talgo-logo {
  width: 200px;
}

span,
p {
  font-size: 13px;
  color: #596377;
  letter-spacing: 0;
  line-height: 36px;
}

.radius-btn {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #c6ccd7;
  border-radius: 100px;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 12px;
  padding: 0 28px;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  transition: all 0.2s ease;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.login-btn {
  color: #596377;
  background: #fff;

  &:hover {
    color: white;
    background-color: #596377;
  }
}
